{% extends 'base.html.twig' %}

{% block title_button %}
    <h1 class="h3 mb-0 text-gray-800">WebService</h1>
{% endblock %}

{% block body %}

{% endblock %}

{% block javascripts %}
    <script>
     $(document).ready(function(){
         
     })
    </script>
{% endblock %}